body{
    background:#ffffef;

}
#screen{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  align-items:flex-start;
}	
#edge{
    width:200px;
    height:200px;
    border:1px solid #3377af;
    padding:5px;
}
.box{
	height:40px;
	width:40px;
    border:1px solid #a82244;
	display:none;
}
.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
	flex-basis: 100px;


}

}
.alive{
	height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
	flex-basis: 100px
	align-self:flex-start;
    
}
.dead{
    display: none;
}


