body{
    background:#ffffef;

}

#buttons{
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  align-items:flex-start;
}

#screen{
  display: flex;
  flex-direction:column;
  flex-wrap: nowrap;
  justify-content:space-evenly;
  align-items:flex-start;
}	
#edge{
    width:200px;
    height:200px;
    border:1px solid #3377af;
    padding:5px;
}
.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
}

}
.alive{
	height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    
}
.dead{
    display: none;
}


